<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>Sarah and Matt have reserved blocks of rooms at several hotels close to the venue. To reserve a room at the wedding rate, let the hotel know you're interested in the <em>Menzenski-Chao Wedding</em> block when you make your reservation.</p>
  </header>
  <ul>
    <li style="text-align:left;">
      <p><a href="https://www.choicehotels.com/kansas/lawrence/quality-inn-hotels/ks082">Quality Inn Lawrence — University Area</a> is the closest hotel to the venue — it's literally thirty feet from the park (an easy walk).</p>
    </li>
    <li style="text-align:left;">
      <p><a href="https://www.wyndhamhotels.com/baymont/lawrence-kansas/baymont-inn-and-suites-lawrence/overview">Baymont Inn &amp; Suites Lawrence</a> is just across the street from the venue (just a few minutes' walk).</p>
    </li>
    <li style="text-align:left;">
      <p><a href="http://hamptoninn3.hilton.com/en/hotels/kansas/hampton-inn-lawrence-LWRKSHX/index.html">Hampton Inn Lawrence</a> is across the street from the north end of the park (it's a big park — fifteen minutes' walk).</p>
    </li>
  </ul>
  <p>There are plenty of other hotels in Lawrence (including downtown), and Kansas City is only a 45 minute drive from the venue, if you'd prefer to stay there.</p>
</div>
