<div class="inner">
  <header class="major">
    <h2>Traveling to Lawrence</h2>
    <p>Lawrence is located just south of Interstate 70. If you're arriving by car,
    take exit 202 from the interstate and head south on Iowa Street. Centennial Park will be on your right after you exit the tunnel under 6th Street.</p>
    <p>If you're planning to fly in, the closest airport is <a href="http://www.flykci.com/">Kansas City International</a>. The airport is about a 75 minute drive from the venue and you will likely need to rent a car to get to Lawrence (as there is unfortunately no regular shuttle or bus service).</p>
  </header>
</div>
