<div class="inner">
  <header class="major">
    <h2>Traveling to Lawrence</h2>
    <p>Lawrence is located just south of Interstate 70 in Eastern Kansas.</p>
    <p>If you're driving from the north via I-35 South, take exit 8B in Kansas City to I-29 North, then exit 3B to I-635 South, then exit 4B to I-70 West to Lawrence. Take exit 202 from I-70 and head south on Iowa Street. Centennial Park will be on your right after you exit the tunnel under 6th Street.</p>
    <p>If you're planning to fly in, the closest airport is <a href="http://www.flykci.com/">Kansas City International</a>. The airport is about a one hour drive from the venue and you will likely need to rent a car to get to Lawrence (as there is unfortunately no regular shuttle or bus service).</p>
  </header>
</div>
