<div class="inner">
  <header class="major">
    <h2>The Wedding Party</h2>
    <p>A.K.A. The A-Team</p>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Mary Claire Chao</h3>
      <p>Sarah's francophile sister. Even if she had another sister, MC would be Sarah's favorite. She lives across the hall from Matt and Sarah, and often borrows #DavetheCat. She loves winning, and her French is better than yours (sorry).</p>
    </li>
    <li class="icon fa-user">
      <h3>Mark Menzenski</h3>
      <p>Matt's younger brother who works as an engineer for 3M in St. Paul (as does his wife, Kim). Mark is into dirt bikes, other things with engines, and crossfit. Mark and Kim have hosted Matt and Sarah in MN/WI, and it's always a good time.</p>
    </li>
    <li class="icon fa-user">
      <h3>Elle Marker</h3>
      <p>Sarah's college bestie, who shares her sense of humor, a respect for efficiency and practicality, and far too many inside jokes. Elle works in the Hollywood film industry (yes, Elle, you do) and has hosted Matt and Sarah in Los Angeles.</p>
    </li>
    <li class="icon fa-user">
      <h3>Joe Menzenski</h3>
      <p>Matt's youngest brother. Joey recently graduated from Cornell University and just got a sweet new job developing software for the aviation industry near DC. Joey got Sarah an infinity scarf for Christmas.</p>
    </li>
    <li class="icon fa-user">
      <h3>Amy Lauters</h3>
      <p>A good friend and fellow Slavic MA who graduated from KU with Sarah. Amy played a crucial role in the beginning of Matt and Sarah's relationship, and helped Sarah survive Grad school, so she deserves major cred. She is also an amazing pianist.</p>
    </li>
    <li class="icon fa-user">
      <h3>James Coulombe</h3>
      <p>Matt's bestie from Ithaca, NY. James is an elementary school teacher, and took both Sarah and Matt on a lovely walking tour of Ithaca in the snow. He and his wife Kathryn are Matt and Sarah's very best friends on <a href="https://untappd.com/">Untappd</a>.</p>
    </li>
    <li class="icon fa-user">
      <h3>Tahira (Ti) Wangnoo</h3>
      <p>Sarah's cousin, who is basically like a sister to both Sarah and MC. She and her fiancé Royce have two dogs. Sarah and Ti got tattoos together when they turned 18, and they also had high-chair races as babies… Hard to say who won, even though it's on video.</p>
    </li>
    <li class="icon fa-user">
      <h3>Gabe Shalless</h3>
      <p>Matt's college buddy from the University of New Mexico. He hosted Matt and Sarah in Albuquerque last August. Gabe has a really impressive Australian accent, which he used while working at Outback Steakhouse. Now he works in marketing.</p>
    </li>
    <li class="icon fa-user">
      <h3>Grace Wagner</h3>
      <p>A lovely friend of both Sarah's and Bill's. Grace is crafty, eccentric, and has an innate ability to find the very best gifts and thrift-store treasures. Sarah, Grace, and Bill like to meet up for coffee, brunch, and board games at their favorite Minnesota cafes — They are all helping Matt fall in love with the Twin Cities.</p>
    </li>
    <li class="icon fa-user">
      <h3>Bill Hoy</h3>
      <p>A long-time best friend of Sarah's from Minnesota, Bill is a master officiant and has agreed to be the man responsible for this fabulous union. Bill reads lots of books, has good taste in beer, is a great musician, and is a cat person.</p>
    </li>
  </ul>
</div>
