<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#intro" class="more scrolly">Welcome</a></li>
            <li><a href="#couple" class="more scrolly">The Couple</a></li>
            <li><a href="#travel" class="more scrolly">Traveling to Lawrence</a></li>
            <li><a href="#location" class="more scrolly">The Venue</a></li>
            <li><a href="#lodging" class="more scrolly">Lodging</a></li>
            <li><a href="#party" class="more scrolly">The Wedding Party</a></li>
            <li><a href="#registry" class="more scrolly">Registry</a></li>
            <li><a href="#cta" class="more scrolly">RSVP</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
